<@main.header title="法律声明">
<#escape x as x?html>
<script>
    var imgPath = '${setting['files.contextpath']}';
</script>
</#escape>
</@main.header>
<@main.body>
<!--法律声明-->
<div class="container project-detailed">
    <div class="row">

        <div class="col-md-9">
            <div class="bgfff">
                <div class="article">
                    <h2 class="t-center p-b-20">深圳全球安信息科技有限公司法律声明</h2>
                    <div class="top-border pb30">
                        注意：使用本网站前请您务必仔细阅读以下条款。一旦使用本网站则表明您已明知并接受这些条款。如果不接受这些条款请不要使用本网站。
                    </div>
                    <div class="bold">
                        <h3>网站使用</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        深圳全球安信息科技有限公司（以下简称“全球安”）所载的内容及编辑等形式均受版权法等法律保护，所有版权拥有，但注明引用其他方的内容除外。对于内容中所含的版权和其他所有权声明，您应予以尊重并合法使用。如果网站内容无权利声明，并不代表网站对其不享有权利，也不意味着网站不主张权利，您应根据诚信原则尊重该等内容的合法权益并进行合法使用。
                    </div>
                    <div class="p-t-20 f16 lh30">
                        您不得将本网站上的任何内容以任何方式进行修改、复制、公开展示、公布、分发、销售、播放、以超链接连接或传送、以“镜像”载入其他服务器、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（条件是不得修改，且须保留该材料中的版权说明或其他所有权的说明）除外。禁止以任何目的把这些内容用于其他任何网站或其他平面媒体或网络计算机环境。任何未经授权而使用本网站内容的行为都可能构成对版权和其他法律权利的侵犯。
                    </div>
                    <div class="p-t-20 f16 lh30">
                        本网站及相关链接网站上使用和显示的商标、服务商标和标识（以下统称“商标”）是全球安和其他权利人注册或未注册的商标。您使用或接触上述网站上的任何内容，不能被解释为授予您任何使用有关商标的权利。未经事先书面许可，您不得以任何方式使用全球安的商标。除非事先书面许可，全球安禁止您使用全球安商标作为任何全球安有关网站的超文本链接。

                    </div>

                    <div class="p-t-20 f16 lh30">
                        如果您不接受或违反上述约定，您使用本网站的授权将自动终止，同时您应立即销毁任何已下载或打印好的本网站内容。
                    </div>


                    <div class="bold top-border m-t-30">
                        <h3>信息发布</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        本网站的信息按原样提供，不附加任何形式的保证，包括有关所有权担保、没有侵犯第三方权利、适销性、适合于特定目的、没有计算机病毒或不侵犯知识产权的保证。此外，全球安也不保证本网站信息的准确性、充分性、可靠性和完整性。本网站中的内容或在这些内容中介绍的产品（包括软件）、服务、价格和配置等会随时变更，恕不另行通知。本网站中的内容也可能已经过期，全球安不承诺及时地对这些内容进行更新。由于互联网的国际性或无国界性，因此通过本网站所提供的信息亦具有国际性，本网站发布的信息可能是在您本地尚不能得到的产品或服务，您可向当地的全球安业务联系人或代理商咨询了解在您的国家或地区所提供的产品或服务。如果在适用的法律范围内，明确禁止或限制排除暗示的担保，那么此类性质的排除条款可能对您不适用。
                    </div>
                    <div class="p-t-20 f16 lh30">
                        全球安在本网站上所提及的非全球安产品或服务仅仅是为了提供相关信息，并不构成对这些产品、服务的认可或推荐。
                    </div>
                    <div class="p-t-20 f16 lh30">
                        全球安并不就网址上提供的任何产品、服务或信息做出任何声明、保证或认可，所有销售的产品和服务应受全球安的销售合同和条款的约束。
                    </div>


                    <div class="bold top-border m-t-30">
                        <h3>关于用户提交材料</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        全球安充分尊重您的隐私权，并且不遗余力保护您的个人信息。通常情况下，您不需要提供任何个人信息就可以浏览本网站。为特定的目的，如果您以自愿填写的方式提供注册或订阅电子信息所需的姓名、性别、证件种类及证件号、出生年月日、国家、电子邮件信箱、电话、联系地址和邮政编码、所希望提供的服务或喜好信息、客户代码以及其他类似的个人信息，则表示您已经了解并接受您个人信息的用途，同意全球安为实现该特定目的使用您的个人信息。
                    </div>

                    <div class="p-t-20 f16 lh30">
                        全球安承诺在任何时候、任何情况下都不会出售您的个人信息，全球安只会在法律允许的范围内使用根据本条款获得的信息。但全球安可能会根据法律、政府部门的要求向这些部门提供您某些个人信息；或在全球安有理由认为有必要这样做来保护全球安、客户或公众时，也可能在尽可能小的范围内公开某些个人信息，在您提供个人信息的时候应该已经预见并同意这种情况的发生。
                    </div>

                    <div class="p-t-20 f16 lh30">
                        除个人信息外，其他任何您发送或邮寄给本网站的材料、信息或联系方式（以下统称“信息”)均将被视为非保密和非专有的。全球安将对这些信息不承担任何义务。同时您的提交行为如果没有特别声明，可视为同意（或授权）：全球安及其授权人可以因商业或非商业的目的自由复制、透露、分发、合并和以其他方式利用这些信息和所有数据、图像、声音、文本及其他内容。

                    </div>

                    <div class="p-t-20 f16 lh30">
                        您对本网站的使用不得违背法律法规及公众道德，不得向或从本网站邮寄或发送任何非法、威胁、诽谤、侮辱、中伤、淫秽、色情、危及国家或公共安全或其他可能违法的材料。若相关人对此信息的内容及影响提出确有证据的警告或异议，本网站可随时删除该等信息或无限时中止该信息的网上浏览，而不必事先取得提交者的同意，亦无义务事后通知提交者，情况严重的，本网站可采取注销该用户的措施。
                    </div>

                    <div class="p-t-20 f16 lh30">
                        您不得将本网站上的任何内容以任何方式进行修改、复制、公开展示、公布、分发、销售、播放、以超链接连接或传送、以“镜像”载入其他服务器、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（条件是不得修改，且须保留该材料中的版权说明或其他所有权的说明）除外。禁止以任何目的把这些内容用于其他任何网站或其他平面媒体或网络计算机环境。任何未经授权而使用本网站内容的行为都可能构成对版权和其他法律权利的侵犯。
                    </div>

                    <div class="p-t-20 f16 lh30">
                        本网站及相关链接网站上使用和显示的商标、服务商标和标识（以下统称“商标”）是全球安和其他权利人注册或未注册的商标。您使用或接触上述网站上的任何内容，不能被解释为授予您任何使用有关商标的权利。未经事先书面许可，您不得以任何方式使用全球安的商标。除非事先书面许可，全球安禁止您使用全球安商标作为任何全球安有关网站的超文本链接。
                    </div>

                    <div class="p-t-20 f16 lh30">
                        如果您不接受或违反上述约定，您使用本网站的授权将自动终止，同时您应立即销毁任何已下载或打印好的本网站内容。
                    </div>

                    <div class="bold top-border m-t-30">
                        <h3>本网站下载软件的使用</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        如果您从本网站下载软件，在使用软件时要遵守该软件附带的软件许可协议中所有的许可条款。在您阅读并接受软件许可协议的各项条款之前，不得下载或安装这一软件。如果在适用的许可条款或协议中，已经禁止复制或再分发这些软件，您须遵照执行。
                    </div>

                    <div class="bold top-border m-t-30">
                        <h3>责任限度</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        全球安及其供应商或本网站中提到的第三方对任何损害不承担责任（包括但不限于基于任何原因发生的利润的损失、数据丢失、间接损失、附带损失或业务中断而造成的损害），无论这些损害是否由于使用、或不能使用本网站的结果、与本网站链接的任何网站或者任何这类网站中包含的信息所引起，也不管它们是否有保证、合同、侵权行为或任何其它法律根据以及事前已得到这类损害可能发生的忠告。如果您由于使用本网站的信息而导致需要对设备或数据进行维护、修理或纠正，您须自行承担由此而造成的所有费用。
                    </div>

                    <div class="law-wrong">
                        <h4 class="bold">
                            全球安在发生下列情况时不承担责任：
                        </h4>
                        <div class="p-t-30">
                            <p>信息的传输是由网络服务提供者（全球安及其授权人）以外的人发起的；</p>

                            <p>信息的传输、路由、提供连接及存储是通过必要的自动的技术处理过程实现的，信息未经网络服务提供者选择；</p>

                            <p>除了对他人要求作出自动反应之外，网络服务提供者并没选择这些信息的提供者与接收者；</p>

                            <p>网络服务提供者的系统或网络中介性或暂时性存储信息所形成的复制件，在正常情况下，没有被预定的接收者以外的人所获得，保留的时间也没有长于为预定的接收者获得信息提供传输、路由或连接所必须的合理时间；</p>

                            <p>通过系统或网络传输的信息内容原封未动。</p>
                        </div>

                    </div>

                    <div class="p-t-20 f16 lh30">
                        如果在适用的法律范围内，不允许排除或限制附带的或间接的损失，那么这些限制或排除条款可能不适用于您。
                    </div>


                    <div class="bold top-border m-t-30">
                        <h3>一般原则</h3>
                    </div>
                    <div class="p-t-20 f16 lh30">
                        全球安可能随时修改这些条款。您应经常访问本页面以了解当前的条款，因为这些条款与您密切相关。这些条款的某些条文也可能被本网站中某些页面上明确指定的法律通告或条款所取代，您应该了解这些内容，一旦接受本条款，即意味着您已经同时详细阅读并接受了这些被引用或取代的条款。
                    </div>

                    <div class=" top-border m-t-30">
                        <h4 class="bold">因本公告或使用本网站所发生的争议适用中华人民共和国法律。</h4>
                    </div>
                    <div class=" top-border m-t-30">
                        <h4 class="bold">因本公告或使用本网站发生争议，应当协商解决，协商不成的，各方一致同意由全球安所在地法院诉讼解决。。</h4>
                    </div>
                    <div class=" top-border m-t-30">
                        <h4 class="bold">本公告的解释权及对本网站使用的解释权归属于全球安。。</h4>
                    </div>

                    <div class="p-t-20 f16 lh30">
                        最新更新日期：2018年10月30日
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="all-top">
                <div class="bgfff">
                    <div class="fw-list">
                        <ul>
                            <li class="fw-cur">
                                <a href="${base}/AboutUs/legalDeclaration.html">法律声明</a>
                            </li>
                            <li>
                                <a href="${base}/AboutUs/webSiteMap.html">网站地图</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</@main.body>
<@main.footer>
<#escape x as x?html>
<script>
</script>
</#escape>
</@main.footer>